.chatPage{
    background-color: rgb(40, 38, 38);
    width: 100vw;
    height: 100vh;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.chatContainer{
    background-color: white;
    height: 60%;
    width: 50%;

}
.header{
    background-color: crimson;
    font-size: 2vmax;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>h2{
    color: white;
margin: 2.5vmax;

}
.header img{
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}
.header>img:hover{
    transform: scale(1.2);
}

.chatBox{
   
    height: 70%;
    box-sizing: border-box;

}
.inputBox{

    height: 15%;
    box-sizing: border-box;
    display: flex;
}
#chatInput{
    width: 80%;
    border: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vmax;
    border-top: 0.1vmax solid rgb(107, 100, 100);
}

.sendBtn{
    background-color: crimson;
    color: white;
    border: none;
    width: 21%;
    cursor: pointer;
 
}
.sendBtn>img{
    width: 2vmax;
    filter: brightness(100) invert();
}
.sendBtn:hover{
    background-color: rgb(151, 13, 40);
}

.sendBtn:hover img{
    transform: translateX(5px);
}